body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.home header {
  background: #1c2a48;
  color: white;
  padding: 1rem;
}

.elem header {
  background: #69171A;
  color: white;
  padding: 1rem;
  margin: 0 auto;
}

.hs header {
  background: #004028;
  color: white;
  padding: 1rem;
  margin: 0 auto;
}

.home header h1 {
  max-width: 1920px;
  margin: 0 auto;
}

.elem header img {
  width: 100px;
  margin-left: 1rem;
}

.hs header img {
  width: 100px;
  margin-left: 1rem;
}

.logo-section {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  align-items: center;
}

.logo-section h1 {
  margin-left: 1rem;
}

.home footer {
  background: linear-gradient(#25385D, #4E76C3);
  color: white;
  padding: 2rem;
  text-align: center;
}

.elem .elem-welcome header {
  background: linear-gradient(#931515, #e26565);
  padding: 1rem;
}

.hs .hs-welcome header {
  background: linear-gradient(#093D11, #449b51);
  padding: 1rem;
}

.elem footer {
  background: #69171A;
  color: white;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.hs footer {
  background: #004028;
  color: white;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.footer-info {
  max-width: 1920px;
  margin: 0 auto;
}

.logo-section-footer {
  display: flex;
}

footer img {
  width: 120px;
  margin-left: -30rem;
}

.contact {
  margin-top: 2rem;
}

.contact-info p {
  margin: 4px 0;
  text-align: left;
  font-size: 1.5rem;
  margin-left: -29rem;
}

.logo-section-footer h1 {
  margin-left: 1rem;
  text-align: left;
}

.maps iframe {
  width: 600px;
  height: 320px;
  margin-top: -40rem;
  margin-bottom: 10rem;
  margin-left: 30rem;
  margin-right: -30rem;
}

.copyright p{
  margin-top: 8rem;
}

.home-contacts-elem p, .home-contacts-hs p {
  text-align: left;
  font-weight: 500;
  font-size: 1.3rem;
}

.home-contacts-elem, .home-contacts-hs{
  margin-top: 5rem;
}

.home-footer {
  max-width: 1920px;
  margin: 0 auto;
}

.home-footer p {
  margin: 10px 0;
  line-height: 1.2;
}

.home-footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.home-maps iframe {
    width: 450px;
    height: 280px;
}

.logos img {
    height: 150px;
    width: auto;
    margin: 10px;
}

.logos {
  margin-top: 5rem;
  margin-left: -70rem;
}

.home-copyright p {
  margin-top: 5rem;
}

header .welcome nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  background: none;
  padding: 10px;
  margin-top: 0;
}

.elem nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  background-color: #363535;
  padding: 10px;
  margin-top: 0;
}

.hs nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  background-color: #000000;
  padding: 10px;
  margin-top: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.3rem 1rem;
    font-size: 20px;
}

.container {
    max-width: 1920px;
    margin: 0 auto; 
    background: #D9D9D9;
    margin-top: -1rem;
}

.container-content {
  max-width: 1700px;
  margin: 0 auto;
}

.welcome-container {
    max-width: 1920px;
    margin: 0 auto; 
    background: #D9D9D9;
    margin-top: 0rem;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 15rem; 
}

.school-img img{
  width: 1920px;
  margin-top: -0.3rem;
}

.hero {
  text-align: center;
  position: relative;
  color: white;
  padding: 2rem 1rem;
  margin-top: -40rem;
}

.welcome {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.sta-ana {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.hero img {
  width: 250px;
  margin-bottom: 1rem;
}

.about {
  background: #FFF2DE;
  display: flex;
  justify-content: space-around;
  padding: 3rem 2rem;
  margin-top: -1rem;
}

.about-text {
  margin-top: -2.5rem;
  max-width: 500px;
}

.about-text h2 {
  font-size: 2rem;
  margin-top: 4rem;
}

.about-text-elem {
  color: #E31818;
}

.about-text-hs {
  color: #0A771A;
}

.about-text p {
  margin-bottom: 1rem;
}

.about-text .see-more {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin-top: 3rem;
  position: relative;
  right: -90%;
  margin-left: -2.5rem;
}

.about-text .see-more-hs .see-more{
  color: #0A771A;
}

.about-text .see-more-elem .see-more{
  color: #9E1919;
}

.enrollment {
  text-align: center;
  padding: 2rem;
  background-color: #FFF2DE;
}

.enrollment h2{
    color: #FFA600;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.enrollment-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fef1e7;
    font-family: Arial, sans-serif;
    flex-wrap: wrap;
    gap: 10rem;
    margin-bottom: 4rem;
}

.enrollment-legend {
    flex: 1;
    min-width: 200px;
}

.enrollment-legend p {
    margin: 5px 0;
    font-size: 25px;
    text-align: left;
}

.dot {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 8px;
}

.dot.female {
    background-color: #ff007f;
}

.dot.male {
    background-color: #0000ff;
}

.enrollment-icons {
    display: flex;
    align-items: center;
    gap: 8rem;
}

.enrollment-icons img {
    width: auto;
    height: 200px;
}

.female-percent {
    color: #ff007f;
    font-size: 80px;
    font-weight: bold;
}

.male-percent {
    color: #0000ff;
    font-size: 80px;
    font-weight: bold;
}

.percentage {
  display: flex;
  flex-direction: column;
} 

.percentage p{
  margin: 0; /* remove default browser margin */
  padding: 15px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.elem-intro h2 {
  color: #E31818;
  font-size: 2.5rem;
}

.hs-intro h2 {
  color: #0A771A;
  font-size: 2.5rem;
}

.container-content p {
  font-size: 20px;
  margin-bottom: 2.5rem;
}

.elem-about-img img {
  width: 1700px;
  height: auto;
}

.hs-about-img img {
  width: 1700px;
  height: auto;
}

.elem-history-title, .elem-vms-title{
  background-color: #C72020;
  margin-top: 5rem;
}

.hs-history-title, .hs-vms-title{
  background-color: #0A771A;
  margin-top: 5rem;
}

.elem-history-title h3, .elem-vms-title h3, .hs-history-title h3, .hs-vms-title h3 {
  color: white;
  font-size: 30px;
  padding: 5px;
  margin-left: 1rem;
}

.elem-history, .hs-history {
  margin-bottom: 5rem;
}

.elem-vms .vms-section, .hs-vms .vms-section {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.vms-section img {
    flex: 1;
    min-width: 200px;
    max-width: 555px;
    margin-bottom: 10rem;
}

.elem-org-chart-title {
  color: #E31818;
  text-align: center;
  font-size: 2rem;
}

.hs-org-chart-title {
  color: #0A771A;
  text-align: center;
  font-size: 2rem;
}

.org-chart img {
  max-width: 1700px;
  height: auto;
  margin-bottom: 10rem;
  margin-top: 3rem;
}

.org-chart {
  display: flex;
  justify-content: center;
} 

.school-container {
  margin-top: 1rem;
}

.school-panels {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.school-panel {
  position: relative;
  width: 50%;
  height: 950px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.school-logo-elem {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 150px;
  height: auto;
}

.school-logo-hs {
  position: absolute;
  top: 15px;
  right: 30px;
  width: 150px;
  height: auto;
}

.school-info {
  padding: 15px;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 5rem;
}

.school-info h3 {
  margin: 0 0 10px;
  font-size: 60px;
  color: white;
  font-weight: 800;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.view-btn {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    display: inline-block;
    font-size: 40px;
    margin-top: 3rem;
}

.view-btn.red {
    background-color: #EB0000;
}

.view-btn.green {
    background-color: #0A771A;
}

.about-section-home {
    display: flex;
    justify-content: center;
    gap: 14rem;
    margin-top: 30px;
    padding: 0 20px;
    flex-wrap: wrap;
}

.about-card-home {
    width: 40%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    color: black;
}

.about-card-home h3 {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.about-card-home.red h3 {
    color: white;
    background-color: #EB0000;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.about-card-home.green h3 {
    color: white;
    background-color: #0A771A;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.about-section-home p {
  padding-left: 50px;
  padding-right: 50px;
}

.read-more {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 50px;
    padding-bottom: 30px;
}

.about-card-home.red .read-more {
  color: #9E1919;
  position: relative;
  right: -70%;
}

.about-card-home.green .read-more {
  color: #0F3804;
  position: relative;
  right: -70%;
}

.enrollment-stats-home h1{
  position: relative;
  text-align: center;
  font-size: 50px;
  margin-top: 10rem;
  margin-bottom: 3rem;
}

.stats-data-home {
  display: flex;
  justify-content: center;
  gap: 27rem;
}

.stats-data-home h3{
  text-align: center;
  margin-bottom: 5rem;
  font-size: 25px;
}

.elem-stats h3 {
  color: #EB0000;
}

.hs-stats h3 {
  color: #0A771A;
}

.latest-updates h1{
  position: relative;
  text-align: center;
  font-size: 50px;
  margin-top: 15rem;
  margin-bottom: 3rem;
}

.announcement-elem {
  position: relative;
  text-align: center;
  font-size: 50px;
  margin-top: 12rem;
  margin-bottom: 3rem;
  color: #E31818;
} 

.announcement-hs {
  position: relative;
  text-align: center;
  font-size: 50px;
  margin-top: 12rem;
  margin-bottom: 3rem;
  color: #0A771A;
} 

.elem .contact-footer footer, .hs .contact-footer footer {
  background: #D9D9D9;
}

.copyright-contact{
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  color: #000000;
  margin-top: 10rem;
}

.contact-elem-title h1 {
  color: #EB0000;
  font-size: 80px;
  margin-top: 8rem;
}

.contact-elem-name h3 {
  color: #EB0000;
  font-size: 40px;
}

.contacts-elem h3{
  font-size: 40px;
  line-height: 0.5;
}

.elem-socials a {
  font-size: 25px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.elem-socials img{
  width: 50px;
  height: auto;
}

.elem-socials {
  display: flex;
  flex-direction: column;
  gap:30px;
  align-items: flex-start;
  margin-top: 5rem;
}

.elem-socials .facebook, .elem-socials .youtube {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-us-info {
  display: flex;
  gap: 10rem;
}

.contacts-maps iframe {
  width: 750px;
  height: 550px;
  border: 2px solid #ccc;
}

.contact-hs-title h1 {
  color: #0A771A;
  font-size: 80px;
  margin-top: 8rem;
}

.contact-hs-name h3 {
  color: #0A771A;
  font-size: 40px;
}

.contacts-hs h3{
  font-size: 40px;
  line-height: 0.5;
}

.hs-socials a {
  font-size: 25px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.hs-socials img{
  width: 50px;
  height: auto;
}

.hs-socials {
  display: flex;
  flex-direction: column;
  gap:30px;
  align-items: flex-start;
  margin-top: 5rem;
}

.hs-socials .facebook, .hs-socials .youtube {
  display: flex;
  align-items: center;
  gap: 10px;
}

.announcement-section .announcement-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
}

.announcement-section {
  margin-bottom: 10rem;
  margin-top: 8rem;
}

.announcement-container {
  max-width: 1600px;
  margin: 0 auto;
}

.announcement-slider {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin: 2rem 0;
  padding-bottom: 1rem;
}

.announcement-slider::-webkit-scrollbar {
  display: none;
}


.announcement-slider-cards {
  display: flex;
  gap: 1.5rem;
  flex-wrap: nowrap;
}

.announcement-slider-card {
  flex: 0 0 auto;
  min-width: 380px;
  max-width: 380px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.announcement-container .iframe-wrapper iframe {
  width: 400px;
  height: 500px;
  border: none;
}

.slider-btn-left-elem{
  position: relative;
  background: #931515;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  top: -20rem;
  left: 2rem;
}

.slider-btn-right-elem{
  position: relative;
  background: #931515;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  top: -20rem;
  left: 93%;
}

.slider-btn.left {
  left: 1rem;
}

.slider-btn.right {
  right: 1rem;
}

.saces-updates {
  position: relative;
  text-align: center;
  font-size: 50px;
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: #E31818;
}

.saces-calendar {
  position: relative;
  text-align: center;
  font-size: 50px;
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: #E31818;
}

.calendar-important-dates {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 10rem;
  margin-top: 12rem;
  }
  
  .calendar-card {
  text-align: center;
  font-family: Arial, sans-serif;
  width: 532px;
  height: 550px;
  }
  
  .calendar-card .month {
  background-color: black;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 3.5rem;
  }
  
.important-dates-elem .calendar-card .day {
  background-color: #991b1b;
  color: white;
  font-size: 15rem;
  font-weight: bold;
  }
  
.calendar-card .label {
  margin-top: 0.5rem;
  font-weight: bold;
  color: #333;
  font-size: 2.5rem;
  }
  
.sanhs-updates {
  position: relative;
  text-align: center;
  font-size: 50px;
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: #0A771A;
}

.slider-btn-left-hs{
  position: relative;
  background: #004028;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  top: -20rem;
  left: 2rem;
}

.slider-btn-right-hs{
  position: relative;
  background: #004028;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  top: -20rem;
  left: 93%;
}

.sanhs-calendar {
  position: relative;
  text-align: center;
  font-size: 50px;
  margin-top: 5rem;
  margin-bottom: 3rem;
  color: #0A771A;
}

.important-dates-hs .calendar-card .day {
  background-color: #004028;
  color: white;
  font-size: 15rem;
  font-weight: bold;
  }

.elem-admission-title {
  color: #E31818;
  text-align: center;
  font-size: 1.5rem;
}

.elem-admission-title p, .hs-admission-title p{
  color: black;
  text-align: center;
  font-size: 20px;
}

.elem-student-title{
  background-color: #C72020;
  margin-top: 5rem;
}

.hs-student-title{
  background-color: #004028;
  margin-top: 5rem;
}

.hs-admission-title {
  color: #0A771A;
  text-align: center;
  font-size: 1.5rem;
}

.elem-student-title h3, .hs-student-title h3{
  color: white;
  font-size: 30px;
  padding: 5px;
  margin-left: 1rem;
}

.elem-student-header p, .hs-student-header p{
  margin-left: 5rem;
  padding-bottom: 20px;
  margin-top: -1rem;
}

.elem-student-header, .hs-student-header {
  background: #b8b7b7;
  margin-bottom: -4rem;
}

.enrollment-process-elem {
  color: #E31818;
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
}

.enrollment-process-hs {
  color: #0A771A;
  text-align: center;
  font-size: 2rem;
  margin-top: 5rem;
}

.enrollment-process-img img {
  max-width: 1600px;
  width: 1600px;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.forms-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 40px;
  margin-bottom: 10rem;
}

.forms-grid a {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  margin-left: 5rem;
}

.downloadable-forms-title-elem{
  background-color: #C72020;
  margin-top: 5rem;
}

.downloadable-forms-title-hs{
  background-color: #004028;
  margin-top: 5rem;
}

.downloadable-forms-title-elem h3, .downloadable-forms-title-hs h3{
  color: white;
  font-size: 30px;
  padding: 5px;
  margin-left: 1rem;
}









.faqs-section h2 {
  color: #E31818;
  font-size: 48px;
  margin-top: 4rem;
  text-align: center;
}

.faqs-section-hs h2 {
  color: #0A771A;
  font-size: 48px;
  margin-top: 4rem;
  text-align: center;
}

.faqs-section .top-nav, .faqs-section-hs .top-nav {
  background-color: #D9D9D9;
  padding: 1rem;
  width: 75%;
}

.faqs-section .top-nav ul, .faqs-section-hs .top-nav ul {
  display: inline-flex;
  gap: 5px;
  background-color: #D9D9D9;
  padding: 0;
  margin: 0;
  list-style: none;
}

.faqs-section .top-nav li {
  background-color: #69171A;
  height: 45px;
  border-radius: 3px 3px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  padding: 0 1rem;
}

.faqs-section-hs .top-nav li {
  background-color: #004028;
  height: 45px;
  border-radius: 3px 3px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  padding: 0 1rem;
}

.faqs-section .top-nav li a, .faqs-section-hs .top-nav li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  height: 100%;
  align-items: center;
  text-align: left;
}

.faqs-section .top-nav li .active, .faqs-section-hs .top-nav li .active {
  color: #FFAE00;
}

.faqs-section .top-nav li a:hover, .faqs-section-hs .top-nav li a:hover {
  color: #FFAE00;
}

.faqs-section .info-bar {
  background: #A4A4A4;
  color: #000000;
  font-size: 14px;
  border-top: 4px solid #d40000;
  padding: 1rem;
}

.faqs-section-hs .info-bar {
  background: #A4A4A4;
  color: #000000;
  font-size: 14px;
  border-top: 4px solid #0A771A;
  padding: 1rem;
}


.faqs-section .divider {
  border-top: 5px dashed #d40000;
  margin: 2rem auto;
  width: 75%;
}

.faqs-section-hs .divider {
  border-top: 5px dashed #0A771A;
  margin: 2rem auto;
  width: 75%;
}


.faqs-section .most-popular-quest, .faqs-section-hs .most-popular-quest {
  background-color: #D9D9D9;
  margin: 2rem auto;
  padding: 1rem;
  width: 75%; 
  margin-bottom: 80px;
}

.faqs-section .most-popular-quest a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  color: #E31818;    
}

.faqs-section-hs .most-popular-quest a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  color: #0A771A;    
}

.faqs-section .most-popular-quest .home-btn, .faqs-section-hs .most-popular-quest .home-btn {
  display: inline-block;
  margin-top: 3.5rem;
  margin-bottom: 5rem;
}

.qna-heading {
  display: flex;
  align-items: center; 
  gap: 1rem;
  margin-bottom: 3.5rem;   
}

.qna-heading img {
  height: 100px;       
  width: auto;
}

.qna-heading p {
  font-size: 28px;     
  font-weight: bold;
  margin: 0;
}

.faqs-section .faqs-section, .faqs-section-hs .faqs-section-hs {
  padding: 2rem;
}

.faqs-section .faq-list, .faqs-section-hs .faq-list {
  list-style: none;
  padding: 0;
}

.faqs-section .faq-list li, .faqs-section-hs .faq-list li {
  font-size: 14px;
  margin-bottom: 25px;
}

.faqs-section .faq-list li strong {
  color: #69171A;
  text-decoration: underline;
  font-size: 24px;
  font-weight: bold;
  display: block;
}

.faqs-section-hs .faq-list li strong {
  color: #004028;
  text-decoration: underline;
  font-size: 24px;
  font-weight: bold;
  display: block;
}

.faqs-section .to-all-qna, .faqs-section-hs .to-all-qna {
  text-align: right;
  margin-top: 1rem;
  margin-right: 1rem;
}

.faqs-section .show-more-btn {
  display: inline-block;
  padding: 0.75rem 0.2rem;
  color: #69171A;
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.faqs-section-hs .show-more-btn {
  display: inline-block;
  padding: 0.75rem 0.2rem;
  color: #004028;
  text-decoration: underline;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.faqs-section .show-more-btn:hover {
  color: #b30000;
}

.faqs-section-hs .show-more-btn:hover {
  color: #0A771A;
}

.faqs-section .most-popular-quest .home-question, .faqs-section-hs .most-popular-quest .home-question {
  display: flex;
  align-items: center;
  gap: 8px;
}

.faqs-section .most-popular-quest .home-question .arrow, .faqs-section-hs .most-popular-quest .home-question .arrow {
  color: #000000;
  font-weight: 900;
  font-size: 20px;
}

.faqs-section .most-popular-quest .home-question .question-name, .faqs-section-hs .most-popular-quest .home-question .question-name {
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.faqs-section .most-popular-quest .faq-view .question, .faqs-section-hs .most-popular-quest .faq-view .question {
  color: #000000;
  font-weight: bold;
  font-size: 26px;
  text-decoration: none;
  margin-bottom: 0;
}

.faqs-section .most-popular-quest .faq-view .published, 
.faqs-section-hs .most-popular-quest .faq-view .published {
  color: #5E5E5E;
  font-size: 14px;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 0;
}

.faqs-section .most-popular-quest .faq-view .answer,
.faqs-section-hs .most-popular-quest .faq-view .answer {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  line-height: 1.35em;
  margin-top: 2.5rem;
  margin-bottom: 0;
}


.faqs-section .to-feedback-response, 
.faqs-section-hs .to-feedback-response  {
  display: flex;
  justify-content: flex-end;   
  align-items: center; 
  gap: 5px;   
  text-align: right;    
  margin-top: 2.5rem;   
}

.faqs-section .to-feedback-response .feedback-question, 
.faqs-section-hs .to-feedback-response .feedback-question {
  font-size: 24px;
  font-weight: bold;
  margin: 0;       
  white-space: nowrap;
}

.faqs-section .to-feedback-response .feedback-yes-btn,
.faqs-section .to-feedback-response .feedback-no-btn {
  padding: 6px 12px;
  background-color: #931515; 
  height: 100%;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;   
}

.faqs-section-hs .to-feedback-response .feedback-yes-btn,
.faqs-section-hs .to-feedback-response .feedback-no-btn {
  padding: 6px 12px;
  background-color: #004028; 
  height: 100%;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;   
}

.faqs-section .most-popular-quest .feedback-submitted,
.faqs-section-hs .most-popular-quest .feedback-submitted {
  font-size: 32px;
}

.faqs-section .most-popular-quest .feedback-message .thankyou-msg,
.faqs-section-hs .most-popular-quest .feedback-message .result-msg {
  font-size: 14px;
}

.faqs-section .most-popular-quest .clarity-msg,
.faqs-section-hs .most-popular-quest .clarity-msg {
  font-size: 20px;
  text-align: center;
}

.faqs-section .most-popular-quest .faq-form,
.faqs-section-hs .most-popular-quest .faq-form {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.faqs-section .most-popular-quest .faq-form label,
.faqs-section-hs .most-popular-quest .faq-form label {
  font-weight: bold;
}

.faqs-section .most-popular-quest .faq-form input,
.faqs-section .most-popular-quest .faq-form textarea,
.faqs-section-hs .most-popular-quest .faq-form input,
.faqs-section-hs .most-popular-quest .faq-form textarea {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.faqs-section .most-popular-quest .faq-form .disclaimer,
.faqs-section-hs .most-popular-quest .faq-form .disclaimer {
  font-size: 0.85rem;
  color: #444;
  margin-top: 10px;
  line-height: 1.5;
}

.faqs-section .most-popular-quest .submit-btn {
  background-color: #8B0000;
  color: white;
  padding: 12px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  align-self: start;
}

.faqs-section-hs .most-popular-quest .submit-btn {
  background-color: #004028;
  color: white;
  padding: 12px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  align-self: start;
}

.faqs-section .most-popular-quest .submit-btn:hover,
.faqs-section .most-popular-quest .submit-btn:hover {
  color: #FFAE00;
}








